// ----------------
// ----- COLORES
// ----------------

$white: #f5f6f9;
$purple: #5449d2;
$gray: #dbdae2;
$orange: #fe825b;
$blue: #648fe1;
$gold: #e0d09e;

// ----------------
// ----- FONTS
// ----------------

$montserrat: ‘Montserrat’, sans-serif;
$opensans: ‘Open Sans’, sans-serif;
