$icon-font-path: "../fonts/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "constants";

html,
body {
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $montserrat;
  font-weight: 700;
}

h2 {
  font-size: 2.6em;
}

p {
  font-family: $opensans;
}

.bold {
  font-weight: 700;
}

header {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  h2 {
    margin-left: 0.6em;
    margin-top: 10px;
  }
  .right,
  .right ul {
    display: flex;
  }
  .left {
    display: flex;
    align-items: center;
    margin-left: 5.2em;
    img {
      margin-top: 23px;
      margin-left: 23px;
      height: 2.5em;
    }
  }
  ul {
    list-style-type: none;
    color: #d4d0ff;
    font-family: $opensans;
    margin-bottom: 0;
    align-items: center;
    li {
      margin-right: 25px;
      font-size: 1.2em;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      transition: 0.3s ease all;
      &:not(.accent):hover {
        border-bottom: 1px solid $white;
      }
      &.accent {
        padding: 12px 30px;
        background-color: #ff7648;
        border-radius: 4px;
        color: white;
        box-shadow: -1px 3px 20px 0px #0e094a;
        &:hover {
          box-shadow: -1px 5px 20px 5px #0e094a;
        }
      }
    }
  }
}

section {
  background: transparent;
}

body {
  min-height: 100vh;
  //background: url(../images/landing-graphic.png) top right no-repeat;
  background-size: 51%;
}

#infographic {
  .shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 670px;
  }
  .item {
    width: 54px;
    position: absolute;
    transition: 0.5s ease all;
    &.uno {
      right: 456px;
      top: 136px;
    }
    &.dos {
      right: 367px;
      top: 190px;
    }
    &.tres {
      right: 272px;
      top: 254px;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

section#main {
  margin-top: 4em;
  margin-left: 7em;
  min-height: 60vh;
  display: flex;
  align-items: center;
  .block {
    width: 50%;
    h3 {
      margin-bottom: 1.2em;
      font-size: 3em;
    }
    h4 {
      font-weight: 500;
      font-size: 1.8em;
    }
    input {
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.17);
      padding: 18px;
      border-radius: 70px;
      width: 83%;
      box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.25);
      font-family: open sans;
      font-size: 1.2em;
      padding-left: 20px;
      margin: 33px 0;
      padding-right: 60px;
      background: url(../images/searchbtn.png) 99% center no-repeat;
      background-size: 50px;
    }
  }
}

// CUSTOM STYLE

.logo {
  width: 40px;
  height: 40px;
  position: relative;
  top: 10px;
}
.logo svg,
.logo div {
  width: 40px;
  height: 40px;
  position: absolute;
}
.logo svg {
  fill: #fff;
  position: absolute;
  left: 1px;
  top: 0px;
}
.logo div {
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 20%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  mix-blend-mode: multiply;
  -webkit-animation: 2s cubic-bezier(0.66, -0.7, 0.27, 1.6) infinite;
  animation: 2s cubic-bezier(0.66, -0.7, 0.27, 1.6) infinite;
}
.logo div:nth-child(1) {
  background-color: #5449d2;
  -webkit-animation-name: rotate-1;
  animation-name: rotate-1;
}
.logo div:nth-child(2) {
  background-color: #fe825b;
  -webkit-animation-name: rotate-2;
  animation-name: rotate-2;
}
.logo div:nth-child(3) {
  background-color: #648fe1;
  -webkit-animation-name: rotate-3;
  animation-name: rotate-3;
}
@-webkit-keyframes rotate-1 {
  to {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
@keyframes rotate-1 {
  to {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
@-webkit-keyframes rotate-2 {
  to {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
}
@keyframes rotate-2 {
  to {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
}
@-webkit-keyframes rotate-3 {
  to {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
}
@keyframes rotate-3 {
  to {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
