$icon-font-path: "../fonts/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "constants";

h1,
h2,
h3,
h4,
h5 {
  font-family: $montserrat;
}

p {
  font-family: $opensans;
}
